@inherits QrCodeBehind
@page "/qrcode"

<PageTitle>QR Code Generator</PageTitle>

<h1>QR Code Generator</h1>

<FluentStack Orientation="Orientation.Vertical">
    
    <FluentStack Orientation="Orientation.Vertical" Style="width: 30%;">
        <FluentTextArea Style="width: 100%;" @bind-Value="Content">
            <FluentLabel>Content</FluentLabel>
        </FluentTextArea>
        <FluentNumberField Style="width: 100%;" @bind-Value="Size" Max="1024" Min="5">
            <FluentLabel>Size</FluentLabel>
        </FluentNumberField>
        
        <FluentButton IconStart="@(new Icons.Regular.Size28.QrCode())" @onclick="GenerateQrCode">Generate</FluentButton>
        
    </FluentStack>
    
    <FluentDivider Style="width: 100%;" Orientation="Orientation.Horizontal" Role="@DividerRole.Separator"></FluentDivider>
    
    <FluentStack Orientation="Orientation.Vertical" HorizontalAlignment="HorizontalAlignment.Center" Style="width: 100%;">
        @if (!string.IsNullOrEmpty(Image))
        {
            <img src="@Image" style="cursor: pointer" alt="qrcode" @onclick="DownloadQrCodeImage"/>
        }
    </FluentStack>
</FluentStack>