@inherits LayoutComponentBase

<FluentToastProvider Position="ToastPosition.BottomCenter" />
<FluentDialogProvider />
<FluentTooltipProvider />
<FluentMessageBarProvider />

<FluentLayout Style="margin-top: 10px;">
    <FluentHeader>
        MacGyver's Swiss Army Knife
        <FluentSpacer />
        <ThemeSelector />
    </FluentHeader>
    
    <FluentStack Orientation="Orientation.Horizontal" Width="100%">
        <div style="display: flex; padding: 10px;">
            <FluentNavMenu @bind-Expanded="_expanded" Width="250" Collapsible="true" Title="Collapsible demo">
                <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">Home</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size20.QrCode())" Href="qrcode" Match="NavLinkMatch.All">QrCode Generator</FluentNavLink>
                <FluentNavLink Icon="@(new Icons.Regular.Size20.NumberSymbol())" Href="guid" Match="NavLinkMatch.All">Guid Generator</FluentNavLink></FluentNavMenu>
        </div>
        <FluentBodyContent Style="padding: 10px">
            @Body
        </FluentBodyContent>
    </FluentStack>
</FluentLayout>

@code
{
    bool _expanded = true;
}