<div style="display: flex; padding: 10px;">
    <FluentNavMenu @bind-Expanded="_expanded" Width="250" Collapsible="true" Title="Collapsible demo">
        <FluentNavLink Icon="@(new Icons.Regular.Size20.Home())" Href="/" Match="NavLinkMatch.All">Home</FluentNavLink>
        <FluentNavLink Icon="@(new Icons.Regular.Size20.QrCode())" Href="qrcode" Match="NavLinkMatch.All">QrCode</FluentNavLink>
        @* <FluentNavLink Icon="@(new Icons.Regular.Size20.WeatherCloudy())" Href="weather" Match="NavLinkMatch.All">Weather</FluentNavLink> *@
    </FluentNavMenu>
</div>

@code
{
    bool _expanded = true;
}